/* Bootstrap. */
@import "../../bower_components/bootstrap/less/bootstrap.less";


/* Colors. */
@body_bg_1: #d0d4d9;
@body_bg_2: #f9f9f9;

/* Fonts. */
@font_standard: 'Open Sans Condensed', sans-serif; 
@font_title: 'Open Sans Condensed', sans-serif; 

/* Layout. */

/* Macro blocks. */
html {
  min-height: 100%;
  position: relative;
}

body {
  font-size: 2em;
  color: #303030;
  background-color: @body_bg_2;
  font-family: @font_standard;
  min-height: 100%;
}

H1, H2, H3, H4, H5, H6 {
  font-family: @font_title;
  text-shadow: 1px 1px 0px #f0f0f0;
  font-variant: small-caps;
  color: #000000;
}

H1 {
  font-size: 5em;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 1em;
}

H2 {
  font-size: 1.5em;
  margin: 1em auto 0em auto;
}

H3 {
  font-size: 1em;
  margin: 1em auto 0.5em auto;
}

#content {
  &:extend(.container);
  margin-top: 0;
  margin-bottom: 80px;
  padding-top: 2em;
  background-color: @body_bg_2;
}

FOOTER {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #c0c0c0;
  >DIV {
    &:extend(.container-fluid);
    >DIV {
      &:extend(.container);
    }
    line-height: 50px;
    background-color: #f0f0f0;
    color: #a0a0a0;
    P {
      margin: 0 auto;
    }
  }
}

/* Home page. */
BODY#page-index {
  SECTION {
    .make-row();
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);
    margin: 0 auto;
    padding: 0;
    > DIV.section {
      .make-xs-column(12);
      .make-sm-column(4);
      .make-md-column(4);
      .make-lg-column(4);
    }
  }
  SECTION#projects {
    .make-row();
    A {
      .make-xs-column(6);
      .make-sm-column(3);
      .make-md-column(3);
      .make-lg-column(2);
      padding-bottom: 15px;
      IMG {
        width: 100%;
	border: 2px solid black;
      }
    }
  }
}

ADDRESS {
  white-space: pre-line; 
}

DT {
  float: left;
  margin-right: .5em;
  &:after {
    content: " :";
  }
}

/* Media specific. */
@media (max-width: @screen-lg-min) {  /* medium */
  H1 {
    font-size: 5em;
  }
}
@media (max-width: @screen-md-min) {  /* small */
  H1 {
    font-size: 4em;
  }
}
@media (max-width: @screen-sm-min) {  /* x-small */
  H1 {
    font-size: 3em;
  }
}
@media (min-width: @screen-lg-min) {  /* large */
  H1 {
    font-size: 5em;
  }
}
