/* Bootstrap. */
@import "../../bower_components/bootstrap/less/bootstrap.less";


/* Colors. */
@body_bg_1: #d0d4d9;
@body_bg_2: #f9f9f9;

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

/* Fonts. */
@font_standard: 'Open Sans Condensed', sans-serif; 
@font_title: 'Open Sans Condensed', sans-serif; 

/* Layout. */

/* Macro blocks. */
html {
  min-height: 100%;
  position: relative;
}

body {
  font-size: 2em;
  color: #303030;
  background-color: @body_bg_2;
  font-family: @font_standard;
  min-height: 100%;
}

H1, H2, H3, H4, H5, H6 {
  font-family: @font_title;
  text-shadow: 1px 1px 0px #f0f0f0;
  font-variant: small-caps;
  color: #000000;
}

H1 {
  font-size: 5em;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 1em;
  color: #000000;
  .make-xs-column(12);
  .make-sm-column(12);
  .make-md-column(12);
  .make-lg-column(12);
}

H2 {
  font-size: 2em;
  margin: 1em auto 0.5em auto;
  color: #000000;
}

H3 {
  font-size: 1em;
  margin: 1em auto 0 auto;
  color: #000000;
}

#content {
  &:extend(.container);
  margin-top: 0px;
  margin-bottom: 80px;
  padding-top: 2em;
  background-color: @body_bg_2;
}

/* Navigation, menus. */
#navbar_main {
  border-width: 0;
  border-color: #f0f0f0;
  background-color: #f0f0f0;
  .container-fluid {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #c0c0c0;
    .navbar-brand {
      font-size: 2em;
      line-height: 50px;
      padding: 0; 
      font-family: @font_title;
    }
  }
}

.footer {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #c0c0c0;
  > .container-fluid {
    line-height: 50px;
    background-color: #f0f0f0;
    color: #a0a0a0;
    P {
      margin: 0 auto;
    }
  }
}

/* Home page. */
BODY#home {
  SECTION {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(3);
    .make-lg-column(3);
  }
  SECTION#book {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);
    .make-row();
    > DIV {
      .make-xs-column(12);
      .make-sm-column(6);
      .make-md-column(3);
      .make-lg-column(3);
      IMG {
        width: 100%;
        margin-bottom: 1em;
      }
    }
  }
}


/* Media specific. */
@media (max-width: @screen-lg-min) {  /* medium */
  BODY {
  }
}
@media (max-width: @screen-md-min) {  /* small */
  BODY {
  }
}
@media (max-width: @screen-sm-min) {  /* x-small */
  BODY {
  }
}
@media (min-width: @screen-lg-min) {  /* large */
  BODY {
  }
}
