/* Bootstrap. */
@import "theme";
@import "../../bower_components/bootstrap/scss/bootstrap-flex";


/* Utilities. */
@mixin animated-transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin show-size {
  @include media-breakpoint-up(xs) { background-color: purple; }
  @include media-breakpoint-up(sm) { background-color: cyan; }
  @include media-breakpoint-up(md) { background-color: yellow; }
  @include media-breakpoint-up(lg) { background-color: orange; }
  @include media-breakpoint-up(xl) { background-color: red; }
}


/* Macro blocks. */
html {
  position: relative;
  min-height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0 0 100px 0;  // Footer height + some space.
  background-color: $color_body_bg;
  font-family: $font_standard;
}

address {
  white-space: pre;
}

section {
  padding-top: 4rem;
}


header {
  position: relative;
  display: block;
  @include media-breakpoint-down(xs) { height: auto; }
  @include media-breakpoint-up(sm) { height: 150px; }
  @include media-breakpoint-up(md) { height: 200px; }
  nav {
    @extend .navbar;
    @extend .navbar-light;
    @extend .navbar-fixed-top;
    @include animated-transition(all 0.3s ease-in-out 0.0s);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #000;
    background-color: rgba(#fff, 1);
    //@include show-size;
    @include media-breakpoint-down(xs) { position: relative; }
    @include media-breakpoint-down(xs) { height: auto; }
    @include media-breakpoint-up(sm) { height: 150px; }
    @include media-breakpoint-up(md) { height: 200px; }
    > div {
      @extend .container;
      #logo {
        @extend .navbar-brand;
        @include animated-transition(all 0.3s ease-in-out 0.0s);
        @include media-breakpoint-down(xs) { position: static; }
        @include media-breakpoint-up(sm) { position: absolute; }
        width: auto;
        height: 100%;
        @include media-breakpoint-down(xs) { top: 23px; }
        @include media-breakpoint-up(sm) { top: 60px; }
        @include media-breakpoint-up(md) { top: 73px; }
        margin: 0;
        padding: 0;
        @include media-breakpoint-down(xs) { line-height: 1em; }
        @include media-breakpoint-up(sm) { line-height: 2rem; }
        @include media-breakpoint-up(md) { line-height: 3rem; }
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        @include media-breakpoint-up(xs) { font-size: 2rem; }
        @include media-breakpoint-up(sm) { font-size: 2rem; }
        @include media-breakpoint-up(md) { font-size: 3rem; }
        letter-spacing: 0.05em;
        word-spacing: 0.05em;
        span {
          margin-left: 0.3em;
          color: #aaa;
        }
      }
      ul {
        @extend .nav;
        @extend .navbar-nav;
        @include media-breakpoint-down(xs) { clear: both; }
        @extend .pull-sm-right;
        @extend .pull-md-right;
        @extend .pull-lg-right;
        @extend .pull-xl-right;
        li {
          @extend .nav-item;
          a {
            @extend .nav-link;
          }
        }
      }
    }
  }
  &.minified {
    @include media-breakpoint-up(sm) {
      height:54px;
    }
    nav {
      @include media-breakpoint-up(sm) {
        height: 54px;
        border-width: 0 0 1px 0;
      }
      #logo {
        @include media-breakpoint-up(sm) {
          top: 0;
          height:54px;
          line-height: 54px;
          font-size: 1.25rem;
        }
      }
    }
  }
}


h2 {
  font-size: 3rem;
}


.slick-next {
  right: 50px;
}
.slick-prev {
  left: 50px;
}
.slick-slide {
  @include animated-transition(all .7s ease-in-out .2s);
  filter: grayscale(1);
  opacity: 0.3;
  &.slick-current {
    opacity: 1;
    filter: grayscale(0);
  }
}


#actualite {
  @include make-container($gutter: 0);
  h2 {
    @include make-container();
    @include make-container-max-widths();
  }
  article {
    margin: 0 0 2rem 0;
    background-color: #fff;
    > ul {
      @extend .list-inline;
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
	@extend .list-inline-item;
        margin: 0 !important;
	padding: 0 1px 0 0;
        img {
	  float: left;
          height: 300px;
          max-width: 100%;
        }
      }
    }
    .legend {
      @include make-container();
      @include make-container-max-widths();
      clear: both;
      h3 {
        margin: 0;
        padding: 0;
        line-height: 2rem;
        font-size: 1.5rem;
	span {
	  font-size: 1rem;
	}
      }
      p {
        margin: 0;
        padding: 0;
        line-height: 1.5rem;
        font-size: 1rem;
        color: #000;
      }
    }
  }
}


#parcours {
  @include make-container();
  @include make-container-max-widths();
  > div {
    @include make-row();
    h2 {
      @include make-col();
      @include make-col-span(12);
    }
    article {
      @include make-col();
      @include make-col-span(6);
    }
  }
}


#contact {
  @include make-container($gutter: 0);
  position: relative;
  > div {
    width: 100%;
    background-color: #d1e7d2;
    background-image: url("/img/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    > div {
      @include make-container();
      @include make-container-max-widths();
      position: relative;
      z-index: 2;
      > div {
        @include make-row();
        article {
          @include make-col-span(3);
          padding: 0 20px;
          background-color: #fff; 
        }
      }
    }
  }
  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 2rem 0 0 0;
    padding: 0;
  }
}


#references {
  @include make-container();
  @include make-container-max-widths();
  > div {
    @include make-row();
    h2 {
      @include make-col();
      @include make-col-span(12);
    }
    article {
      @include make-col();
      @include make-col-span(6);
    }
  } 
}


footer {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 54px;
  margin: 0;
  padding: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #c0c0c0;
  background-color: #f0f0f0;
  > div {
    @include make-container();
    > div {
      @include make-container();
      @include make-container-max-widths();
      p {
        line-height: 54px;
	font-size: 1.25rem;
        color: #a0a0a0;
        margin: 0 auto;
      }
    }
  }
}
